<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile Setup</title>

    <!-- Bootstrap & Fonts -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
<div class="row m-0">
    <div class="col-5 coffee_mug_background">
        <div class="logo_left mt-3 pt-4 ms-5">
            <h2 class="logo text-white">Job Lagbe <span class="logo_com">.com</span></h2>
        </div>
    </div>

    <div class="col-7">
        <div class="myForm">
            <form th:action="@{/recruiter-profile/addNew}" th:object="${profile}" method="post" enctype="multipart/form-data">
                <div class="row mt-5">
                    <div class="col-md-12 d-flex justify-content-center">
                        <h1 class="heading_font fw-bold">Recruiter</h1>
                    </div>

                    <div class="col-md-12 d-flex justify-content-center">
                        <h2 class="heading_font">Set up your Profile</h2>
                    </div>

                    <div class="card-body">
                        <label class="heading_font font_sub_heading_color">Name</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input placeholder="First Name" th:field="*{firstName}" type="text" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <input placeholder="Last Name" th:field="*{lastName}" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <input placeholder="City" th:field="*{city}" type="text" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <input placeholder="State" th:field="*{state}" type="text" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <input placeholder="Country" th:field="*{country}" type="text" class="form-control" />
                            </div>
                        </div>


                        <label class="heading_font font_sub_heading_color mt-3">Profile Photo</label>
                        <div class="row">
                            <div class="col">
                                <input type="file" name="image" class="form-control" accept="image/png, image/jpeg" />
                                <input type="hidden" th:field="*{profilePhoto}" class="form-control" />
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary base_button px-4 py-2">Save</button>
                            </div>
                        </div>
                    </div> <!-- card-body -->
                </div> <!-- row -->
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>